.card {
  margin: 3.5rem;

  &__heading {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 1.3rem;
  }

  &__heading-title {
  }
  &__heading-text {
  }

  &__detail {
    display: flex;
    flex-direction: c;
    text-align: center;
  }
}
